
.nav {
	h3 {
		color: red;
		float:right;
		display:inline-block;

	}


}

@mixin border-radius($radius) {
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
      -ms-border-radius: 15px;
          border-radius: 15px;
}
.box { @include border-radius(15px);}

@mixin coupon {
	padding:100px;
	background-color:red;
	border:5px dashed black;
}
 
 p {
 	@include coupon;
 }

